$bg: #fdf6e3;
$hbg: #E0DCC7;
$fg: #708089;
$purple: #DF69BA;
$red: #F85552;
$orange: #F57D26;
$yellow: #DFA000;
$green: #8DA101;
$blue: #3A94C5;
$aqua: #359fa7;
$border: #cfc7b5;
$font: "Iosevka Nerd Font Mono";
