$bg: #1D2021;
$hbg: #4E4A48;
$fg: #FBF1C7;
$purple: #D3869B;
$red: #FB4934;
$orange: #FE8019;
$yellow: #FABD2F;
$green: #B8BB26;
$blue: #83A598;
$aqua: #8EC07C;
$border: #3C3836;
$font: "Iosevka NFM";
