$bg: #000000;
$hbg: #333C43;
$fg: #E5E5E5;
$purple: #e67e80;
$red: #e67e80;
$orange: #e67e80;
$yellow: #e67e80;
$green: #e67e80;
$blue: #e67e80;
$aqua: #e67e80;
$border: #E5E5E5;
$font: "Iosevka NFM";
