$bg: #F9F5D7;
$hbg: #EBDBB2;
$fg: #3C3836;
$purple: #B16286;
$red: #CC241D;
$orange: #D65D0E;
$yellow: #D79921;
$green: #98971A;
$blue: #458588;
$aqua: #689D6A;
$border: #3C3836;
$font: "Iosevka NFM";
