$bg: #FFFFFF;
$hbg: #E5E5E5;
$fg: #000000;
$purple: #FCA311;
$red: #FCA311;
$orange: #FCA311;
$yellow: #FCA311;
$green: #FCA311;
$blue: #FCA311;
$aqua: #FCA311;
$border: #14213D;
$font: "Iosevka NFM";
