$bg: #333C43;
$hbg: #555f66;
$fg: #d3c6aa;
$purple: #d699b6;
$red: #e67e80;
$orange: #e69875;
$yellow: #dbbc7f;
$green: #a7c080;
$blue: #7fbbb3;
$aqua: #83c092;
$border: #7a8478;
$font: "Iosevka Nerd Font Mono";
